.card-small {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-radius: 16px;
  margin: 2.5rem 0.7rem;
  background: #fff;
  width: 320px;
  height: 300px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &__image {
    cursor: pointer;
    width: 100%;
    height: 183px;
    object-fit: cover;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 8px 0 16px;
  }
  &__details {
    position: absolute;
    // padding: 16px 24px;
    width: 100%;
    height: 100%;
    background: $white-color;
    display: flex;
    flex-direction: column;
  }

  &__actions {
    position: absolute;
    right: 8px;
  }
  &__follow {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: $dark-color;
    cursor: pointer;
    .fa-star {
      font-size: 24px;
      padding: 0 0 0 8px;
    }
  }
  &__date {
    position: absolute;
    left: 8px;
    bottom: 16px;
    line-height: 1;
  }
  &__price {
    line-height: 1;
    position: absolute;
    right: 24px;
    bottom: 16px;
    font-family: $font-header;
    font-size: 28px;
    font-weight: bold;
    color: $secondary-color;
  }
}

.card-small:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.card-small:hover .card-small__image {
  transform: scale(1.008);
  transition: all 0.2s ease-in-out;
}

.card-small a {
  padding: 0;
  margin: 0;
}

.flex-row div {
  display: flex;
}
