.hero-section {
  height: 700px;
  position: relative;
}

.carousel-container {
  margin-bottom: 56px;
  width: 100%;
  height: 700px;
  z-index: 0 !important;
  position: absolute;
  top: -25px;
  &--offer-slider {
    display: flex !important;
    justify-content: space-between;
  }
}

// overwriting parallax image's inline styles
.react-parallax-bgimage {
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}

.hero-image {
  height: 720px;
  object-position: center;
  object-fit: cover;
}

.hero-slider .slick-list {
  background: #333;
  color: white;
  position: relative;
}

// allows to click links on carousel
.hero-slider .slick-list .slick-slide {
  visibility: hidden;
}
.hero-slider .slick-list .slick-slide.slick-active {
  visibility: visible;
}

// dots
.hero-slider .slick-dots {
  position: absolute;
  bottom: 100px !important;
  z-index: 99;
}

.fa-circle-notch {
  color: rgba(255, 255, 255, 0.247);
  font-size: 0.8rem;
  transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.hero-slider .slick-dots li.slick-active .slider-dot {
  color: rgba(255, 255, 255, 0.747);
  font-size: 0.9rem;
  transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.slider-dot:hover {
  color: rgba(255, 255, 255, 0.747);
  transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

//slider captions
.slider-text {
  &__box {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &::before {
      content: "";
      display: block;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all ease-in-out 300ms;
      z-index: -1;
    }
  }
  &__container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    z-index: 2;
    align-self: center;
    justify-content: center;
    transform: translateY(-30px);
    .underline-header {
      text-align: center;
    }
  }
  &__header {
    font-family: $font-header;
    color: #fff500;
    font-weight: bold;
    line-height: 1.2;
    &--big {
      font-size: 48px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    &--small {
      font-size: 14px;
    }
  }
  &__details {
    font-family: $font-header;
    font-size: 18px;
    color: #cacaca;
    font-weight: bold;
  }
  &__description {
    font-family: $font-default;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 350px;
    line-height: 1.6em;
    text-align: right;
    white-space: nowrap;
  }
  &__link {
    color: rgb(219, 76, 124);
    z-index: 999;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

.carousel-arrow {
  &--next::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    top: 45%;
    right: -40px;
    height: 10%;
    width: 100px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  &--prev::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    top: 45%;
    left: 60px;
    height: 10%;
    width: 100px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.slick-prev::before:hover {
  opacity: 1 !important;
  transition: all 0.3s ease-in-out !important;
}

.slick-next::before:hover {
  opacity: 1 !important;
  transition: all 0.3s ease-in-out !important;
}
