/* Navbar */
.navbar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-width: 1450px;
  margin: auto;
  padding: 0 30px;
  font-size: 1rem;
  z-index: 99;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: $white-color;
  padding: 0.45rem 0;
  margin: 0 0.25rem;
}

/* .navbar a:hover {
    color: var(--danger-color);
  } */

.navbar li {
  cursor: pointer;
  text-align: center;
}

.navbar li a:hover,
.navbar li:hover a {
  transition: 0.5s;
  color: $white-color;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.logo {
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transition: transform 0.3s ease-in-out;
  }
  &:hover .logo__svg {
    transform: rotate(30deg);
    transition: transform 0.3s ease-in-out;
  }
  &__svg {
    fill: $white-color;
    transition: all 0.3s ease-in-out;
  }
  &__text {
    font-family: $font-logo;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: $white-color;
  }
}

// .logo:hover .logo__svg {
//   transform: rotate(30deg);
//   transition: all 0.3s ease-in-out;
// }

.logout-btn {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $font-header;
  font-size: 15px;
  font-weight: 600;
  color: $white-color;
  cursor: pointer;
}

.logout-btn:hover .logout-btn {
  color: $secondary-color;
  transition: all 200ms ease-in;
}

.fa-user {
  font-size: 1.7rem;
  padding: 0 0 0 24px;
  transition: all 200ms ease-in;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .logo {
    &__text {
      display: none;
    }
  }
  .logout-btn {
    p {
      display: none;
    }
  }
}
