*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

// selection
::selection {
  background: #ffb7b7;
  color: #fff;
}
::-moz-selection {
  background: #ffb7b7;
  color: #fff;
}

// scroll bars
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  background: transparent;
  color: white;
  width: 17px;
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

// hide number input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: $font-default;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: greyscale;
  line-height: 1.6;
  background-color: #000;
  color: #000;
  overflow-x: hidden;
}

a {
  color: $dark-color;
}

i {
  padding: 0 1rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button,
input:focus {
  outline: none;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

.MuiExpansionPanel-root::before {
  background-color: transparent !important;
}

.MuiInputBase-formControl::before {
  border-bottom: 1px solid transparent;
}

// wrapps each page
.wrapper {
  position: absolute;
  width: 100%;
}

.container {
  max-width: 1550px;
  margin: auto;
  padding: 0 50px;
}

.round-container {
  position: absolute;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  left: 0;
  right: 0;
  background: $white-color;
  padding: 80px 0 0 0;
  min-height: 53vh;
  z-index: 99;
  &--hero {
    top: -25px;
  }
}

.header-section {
  height: 450px;
  position: relative;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  &--bg {
    background: transparent;
  }
}

.header-section__text {
  cursor: pointer;
  color: $white-color;
  font-family: $font-header;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
  &--darker {
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
    color: rgba(255, 255, 255, 0.39);
  }
}

// positioning
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.center-horizontally {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.relative {
  position: relative;
}

.p-top {
  &__8 {
    padding-top: 8px;
  }
  &__16 {
    padding-top: 16px;
  }
  &__24 {
    padding-top: 24px;
  }
}

.p-bottom {
  &__8 {
    padding-bottom: 8px;
  }
  &__16 {
    padding-bottom: 16px;
  }
  &__24 {
    padding-bottom: 24px;
  }
}

.p-left {
  &__8 {
    padding-left: 8px;
  }
  &__16 {
    padding-left: 16px;
  }
  &__24 {
    padding-left: 24px;
  }
}
