.form-container {
  max-width: 450px;
}

.form-background {
  background: url("../../images/add-offer.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  // justify-content: center;
  // align-items: center;
}
