.auth-section {
  &__container {
    max-width: 350px;
    margin: 0 auto;
  }
  &__title {
    padding-top: 90px;
    font-size: 40px;
    font-weight: 800;
    color: $dark-color;
    padding-bottom: 32px;
  }
  &__actions {
    padding-top: 32px;
    width: 100%;
    &--text {
      padding-top: 14px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        color: $primary-color;
      }
    }
  }
}
