.details-page-container {
  width: 1450px;
  // min-width: 900px;
  border-radius: 40px;
  background-color: white;
  margin: 120px;
}

.details-container {
  max-width: 1550px;
  margin: auto;
  padding: 150px 100px 0 100px;
}

.parameters-container {
  display: flex;
  padding-top: 16px;
  width: 100%;
}

.details-title {
  font-size: 48px;
  font-weight: bold;
}

.row1 {
  min-width: 300px;
}

.row2 {
  min-width: 400px;
  padding-left: 150px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

// details list
.detail-left-item {
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
  line-height: 0.7em;
  margin: 15px 0 10px;
}

.detail-right-item {
  line-height: 0.7em;
  margin: 15px 0 10px;
}

.detail-left-item:hover,
.detail-right-item span:hover .detail-left-item {
  border-color: #8a2be2; //primary color
}

.detail-left-item span {
  color: #3f3f3f;
  font-weight: 600;
  background: #fff;
  padding: 0 15px 0 0;
}

.detail-right-item span {
  font-weight: bold;
  background: #fff;
  padding: 0 0 0 15px;
}
